<footer class="new_footer_area bg_color">
    <div class="new_footer_top">

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-about wow fadeInUp animated"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <h3>{{ 'common-words.about-us' | translate | firstLetterCap }}</h3>
                        <p>
                            {{ 'common-phrases.about-us' | translate | firstLetterCap }}
                            
                        </p>
                    </div>
                    <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated"
                        style="visibility: visible; animation-name: fadeInDown;">
                        <h3>{{ 'common-words.contact' | translate | firstLetterCap }}</h3>
                        <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                        <p><i class="fas fa-phone"></i> {{ 'common-words.phone' | translate | firstLetterCap }}: (0039) 333 12 68 347</p>
                        <p><i class="fas fa-envelope"></i> {{ 'common-words.email' | translate | firstLetterCap }}: <a href="mailto:hello@domain.com">hello@domain.com</a>
                        </p>
                        <p><i class="fab fa-skype"></i> Skype: you_online</p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp animated"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="row">
                            <div class="col">
                                <h3>{{ 'common-words.links' | translate | firstLetterCap }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="scroll-link" href="#top-content">{{ 'common-words.welcome' | translate | firstLetterCap }}</a></p>
                                <p><a href="#">{{ 'common-words.features' | translate | firstLetterCap }}</a></p>
                                <p><a href="#">{{ 'common-words.work-with-us' | translate | firstLetterCap }}</a></p>
                                <p><a href="#">{{ 'common-words.our-clients' | translate | firstLetterCap }}</a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="#">Plans &amp; pricing</a></p>
                                <p><a href="#">Affiliates</a></p>
                                <p><a href="#">Terms</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 justify-content-center row footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg row justify-content-center">
            <div data-aos="fade-right" class="w-25 p-3" >
                <img src="../../../../assets/components/footer/undraw_moonlight_5ksn.svg" alt="">
            </div>
            <div data-aos="zoom-in" class="w-25 p-3" >
                <img src="../../../../assets/components/footer/undraw_night_calls_5jh7.svg" alt="">
            </div>
            <div data-aos="fade-left" class="w-25 p-3" >
                <img src="../../../../assets/components/footer/undraw_starry_window_ppm0.svg" alt="">
            </div>

        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12">
                    <p class="mb-0 f_400">© nighty cloud Inc.. 2020 {{ 'common-phrases.all-rights-reserved' | translate | firstLetterCap }}.</p>
                </div>
                
            </div>
        </div>
    </div>
</footer>