<form [formGroup]="formularioBusqueda" autocomplete="off" class="py-4">
    <div class="row d-flex justify-content-center">
        <mat-form-field class="col-md-11" appearance="outline" id="inputGrupal">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="calcularFiltro()"
                formControlName="buscador"
                placeholder="Introduzca carácteres que quiera usted filtrar">
        </mat-form-field>

    </div>
</form>
<div class="row d-flex justify-content-center pb-5">
    <div class="col-md-11 shadow bg-white rounded">
        <table mat-table [dataSource]="dataSourceProductos" multiTemplateDataRows>

            <ng-container matColumnDef="Marca">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let element"> {{ element.marca.nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                <td mat-cell *matCellDef="let element"> {{ element.producto.nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="Talla">
                <th mat-header-cell *matHeaderCellDef> Talla </th>
                <td mat-cell *matCellDef="let element"> {{ element.stockProducto.talla }} </td>
            </ng-container>
            <ng-container matColumnDef="Precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> {{ element.stockProducto.precio }} </td>
            </ng-container>
            <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{ element.stockProducto.cantidad }} </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{ element.usuario.email }} </td>
            </ng-container>
            <ng-container matColumnDef="Subido">
                <th mat-header-cell *matHeaderCellDef> Subido </th>
                <td mat-cell *matCellDef="let element"> {{ element.producto.creado | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
            </ng-container>
            <ng-container matColumnDef="detailExpandProductos">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsProductos.length">
                    <div class="example-element-detail"
                        [@detailExpandProductos]="element == expandedElementProductos ? 'expanded' : 'collapsed'">
                        <div class="col-md-3 p-4">
                            <section id="team" class="team section-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="min-vw-50 d-flex align-items-stretch">
                                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                                <div class="member-img">
                                                    <img src="../../../../assets/components/welcome/team/team-1.jpg" class="img-fluid" alt="">
                                                    <div class="social">
                                                        <a (click)="botonAnulado()"><i class="icofont-ui-add"></i></a>
                                                        <a (click)="botonAnulado()"><i class="icofont-ui-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="member-info">
                                                    <span>{{element.marca.nombre}}</span>
                                                    <h4>{{element.producto.nombre}}</h4>
                                                    <p class="float-left">{{ element.stockProducto.cantidad + " en stock"}}</p>
                                                    <p class="float-right">{{ element.stockProducto.precio + "€"}}</p><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-9">
                            
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumnsProductos;" class="example-element-row"
                [class.example-expanded-row]="expandedElementProductos === element"
                (click)="expandedElementProductos = expandedElementProductos === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['detailExpandProductos']" class="example-detail-row"></tr>
        </table>

        <div class="col-md-12 text-center" *ngIf="paginatorProductos.length === 0">
            <p> <em>Sin productos</em> </p>
        </div>
        <mat-paginator #MatPaginatorProductos [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
    </div>
</div>