<ng-template #noMessages>
    <div class="no-messages">
        <img src="../../../../assets/components/chat/no-messages-illustration.svg" />
        <span class="title">{{!tieneChat() ? 'Selecciona una conversación para mostrar' : 'No tiene mensajes' }}</span>
        <span class="info">{{!tieneChat() ? 'Selecciona tu primera conversacion.' : 'Envía tu primer mensaje.' }}</span>
    </div>
</ng-template>

<div class="main">
    <div class="user-info" *ngIf="tieneChat()">{{ nombre() }}</div>
    <div *ngIf="tieneMensajes(); else noMessages" class="messages-container" id="scrollMe">
        <ul id="contenidoscrollable">
            <li *ngFor="let mensaje of mensajesChat" [ngClass]="mensajeMio(mensaje) ? 'd-flex justify-content-end': 'd-flex justify-content-start' ">
                <span [ngClass]="mensajeMio(mensaje) ? 'speech-bubble-own': 'speech-bubble' " [innerHTML]="mensaje.mensajeHtml"></span>
            </li>
        </ul>
    </div>
    <div class="input-container" *ngIf="tieneChat()">
        <input placeholder="Type something" #messageInput (keydown.enter)="enviarMensaje()
            " />
    </div>
</div>
<div *ngIf="botonabajo" (click)="this.chatService.scrollBottomMessages(); this.botonabajo = false">Scroll abajo rapido</div>