<div>
    <!-- cargando el email -->
    <nighty-infinite-loader class="d-flex justify-content-center"
        *ngIf="_isEmailVerified === null || _isEmailVerified === undefined"></nighty-infinite-loader>
    <!-- comprobación del email si ha sido verificado -->
    <div class="row">
        <div [ngClass]="_isEmailVerified || _isEmailVerified == false ? 'col-md-6' : 'col-md-12'" >
            <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;"
                *ngIf="_isEmailVerified">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>
            <!-- comprobacion de que el email no ha sido verificado -->
            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"
                *ngIf="_isEmailVerified == false">
                <span class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                </span>
            </div>
        </div>
        <div class="col-md-6 align-self-center" *ngIf="_isEmailVerified || _isEmailVerified == false">
            <span class="align-text-middle">
                {{ _isEmailVerified ? "El usuario ha verificado el email correctamente" : "El usuario todavía no ha verificado el email"  }}
            </span>
        </div>
    </div>
</div>

<div>
    Formulario para empezar a rellenar todos los demas datos
</div>