<!-- INFO - WARNING - SUCCESS - ERROR -->
<!-- mensaje -->
<!-- respuesta -->
<!-- tipo respuesta : string, number, date -->
<!-- si - no - cancelar - guardar - descartar - aceptar -->
<div *ngIf="this.data !== undefined && this.data !== null">

    <h1 class="display-h5 w-100">{{this.data.titulo}}</h1>

    <mat-card-content>{{this.data.contenido}}</mat-card-content>

    <div class="row w-100">

        <div class="col-12 d-flex justify-content-center row">
            <button mat-button *ngIf="this.data.cancelar" class="col-md-4" color="accent"
                (click)="respuesta('Cancelar')">Cancelar</button>
            <button *ngIf="this.data.botones === 'si - no'" mat-stroked-button color="primary" class="col-md-4"
                (click)="respuesta('Si')">Si</button>
            <button *ngIf="this.data.botones === 'si - no'" mat-stroked-button color="warn" class="col-md-4"
                (click)="respuesta('No')">No</button>
            <button *ngIf="this.data.botones === 'guardar - descartar'" mat-stroked-button color="primary"
                class="col-md-4" (click)="respuesta('Si')">Guardar</button>
            <button *ngIf="this.data.botones === 'guardar - descartar'" mat-stroked-button color="warn" class="col-md-4"
                (click)="respuesta('No')">Descartar</button>
            <button *ngIf="this.data.botones === 'aceptar'" mat-stroked-button color="primary" class="col-md-4"
                (click)="respuesta('Aceptar')">Aceptar</button>
            <button *ngIf="this.data.botones === 'descargar'" mat-stroked-button color="primary" class="col-md-4"
                (click)="respuesta('Descargar')">Aceptar</button>
        </div>
    </div>
</div>